@use '../abstract' as *;

/*----------------------------------------*/
/*  05. BANNER CSS START
/*----------------------------------------*/


.banner{
    &__item{
        padding: 50px 40px;
        @include background();
        @include border-radius(4px);

        @media #{$md}{
            padding-left: 25px;
            padding-right: 25px;
        }
        @media #{$sm}{
            padding-left: 25px;
            padding-right: 25px;
        }
        & span{
            font-size: 14px;
            font-weight: 500;
            color: $white;
            background: $e-pink;
            display: inline-block;
            height: 20px;
            line-height: 22px;
            padding: 0 14px;
            margin-bottom: 15px;
            @include border-radius(10px);
            text-transform: capitalize;
            &.orange{
                background: $e-orange;
            }
        }
    }
    &__title{
        font-size: 26px;
        margin-bottom: 30px;
        & a{
            &:hover{
                color: $e-blue;
            }
        }
    }
    &__thumb{
        position: absolute;
        top: 56%;
        @include transform(translateY(-50%));
        right: 10px;
        @media #{$lg}{
            right: 0;
        }
        @media #{$sm}{
            right: 0;
        }
        & img{
            @media #{$lg}{
                width: 240px;
            }
            @media #{$sm}{
                width: 240px;
            }
        }
        &-2{
            top: 63%;
        }
    }
    &__content{
        position: relative;
        z-index: 1;
    }
}
.list-group-item{
    background-color:#212450;
    color: white;
    text-align: left !important;
}

.list-group-item:hover{
    color: #212450;
    background-color:#fff;
    cursor: pointer;
}

.navheight{
    height: 5rem;
}

.smth {
    & input{
    @media #{$sm}{
       display: none;
    }
}
  }


  
  .ag-courses_box-comp {
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ag-courses_item-comp {
   width:20rem;
    height: 9rem;
    margin:  15px 0px;
    overflow: hidden;
    border-radius: 28px;    
}


  .ag-courses-item_link-comp {
    display: block;
    padding: 15px 20px 20px;
    background-color: #212a50;
    overflow: hidden;
    position: relative;
  }

  .ag-courses-item_link-comp:hover,
  .ag-courses-item_link-comp:hover .ag-courses-item_date-comp {
    text-decoration: none;
    color: #FFF;
  }

  .ag-courses-item_link-comp:hover .ag-courses-item_bg-comp {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }

  .ag-courses-item_title-comp {
    min-height: 87px;
    margin: 0 0 25px;
  
    // overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }

  .ag-courses-item_date-box-comp {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }

  .ag-courses-item_date-comp {
    font-weight: bold;
    color: #f9b234;
    
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }

  .ag-courses-item_bg-comp {
    height: 128px;
    width: 128px;
    background-color: #f3a024;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  .ag-courses_item-comp:nth-child(2n) .ag-courses-item_bg-comp {
    background-color: #5a9676;
  }
  .ag-courses_item-comp:nth-child(3n) .ag-courses-item_bg-comp {
    background-color: #e04c4c;
  }
  .ag-courses_item-comp:nth-child(4n) .ag-courses-item_bg-comp {
    background-color: #e05fa6;
  }
  .ag-courses_item-comp:nth-child(5n) .ag-courses-item_bg-comp {
    background-color: #e07051;
  }
  .ag-courses_item-comp:nth-child(6n) .ag-courses-item_bg-comp {
    background-color: #212a50;
  }


  

  